.wrapperProfile {
  position: relative;
  width: max-content;
  height: max-content;
  margin: 0.5rem;
}

.picture {
  border-radius: 0.5rem;
  height: 190px;
}

.name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  color: #fff;
  background-color: #cc9d56;
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.3rem 0;
}

.favourite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
