.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 30vh;
  background-color: #323232;
  color: white;
  margin: 1em;
}

.containerActive {
  background-color: #ffff;
  color: #323232;
  margin: 1em;
}

.containerDisable {
  background-color: #323232;
  color: white;
  margin: 1em;
}

.wrapperFighter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.fighter {
  border-radius: 13rem;
  height: 150px;
}

.btn {
  height: 2em;
  width: 7em;
  transform: skew(-30deg);
  background-color: #cc9d56;
  border: none;
  font-size: 1rem;
}
