.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  font-size: 1rem;
  list-style-type: none;
  font-style: italic;
  font-weight: bold;
}

.item {
  text-decoration: none;
  color: white;
}

.item:hover {
  text-decoration: none;
  color: black;
  transition: color 0.3s linear;
}
