.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.imgLogo {
  margin-right: 1em;
}
