.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 78vh;
}

.top {
  width: 100vw;
}

.wrapperFighters {
  display: flex;
  flex-direction: row;
}

.wrapperProfileTitle {
  text-transform: uppercase;
  color: #fff;
  background-color: #df2e2f;
  padding: 1rem;
  transform: skew(-18deg);
  max-width: 18rem;
  margin-left: 4em;
}
