.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  max-width: 50rem;
  height: 10vh;
  background-color: #e2e2e2;
  color: #212121;
  transform: skew(-18deg);
  position: relative;
  margin-bottom: 2rem;
}

.bannerNextFight {
  position: absolute;
  top: -3.25rem;
  left: -3rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #cc9d56;
  padding: 1rem;
  transform: skew(-5deg);
  max-width: 18rem;
}

.fighter {
  font-size: 1.5rem;
  font-weight: bold;
}

.versus {
  font-size: 1.8rem;
  font-weight: bold;
}
